.login {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(~@/assets/login/bp.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: blur(10px);
}

.login-mid {
    position: absolute;
    width: 45%;
    height: 65%;
    background-color: rgba(37, 76, 102, 0.5);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.title {
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 60px;
}

.login-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 7px;
}